/*test message*/

body {
    background-color: lightyellow;
    font-size: medium;
    font-family:sans-serif;
    border-style: solid;
    border-width: 1px;
    display: flex; 
    flex-direction: row;
    text-overflow:visible;
    text-emphasis: wrap; 
  }
 
  /*This is the LEFT side of the page*/
   
  .aside {
    background-color:yellow;
    color: black;
    width: 30%;
    height: auto;
    text-align: center;    
  } 

  img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    border: 1px solid orange; 
    box-shadow: 1px 1px 1px 1px darkorange;
    text-align: center;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  } 

  .aside-heading{
    background-color: black;
    color: orange;
    text-align: center;
    height: 40px;
    font-size: 30px; 
    padding-top: 8px;
    padding-bottom: 0px;   
  }

  .contact {
    height: auto;
    text-align: left;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px; 
  }
  .text-contact{  
    padding: 0 0 0 45px; 
  }
  
  .about {
    height: 39%;
    text-align: justify;
  }
  .text-about{
    padding-left: 45px;
    padding-right: 45px; 
  }
    
  .hobbies {
    margin: 0px;
    text-align: center;
    height: 15%;
  }

 /*This is the RIGHT side of the page*/

  .main {
    width: 70%;
    height: 100%;
    margin-left: 50px;
  }

  .name{
    font-size: xx-large;
    color: orange;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 1px 1px rgb(232, 233, 224);
  }
 

 
  .icon{
    display: inline-block;
    color: orange; 
  }

  .icon-margin{
    margin-right: 20px;
  }

  hr{
    background-color:orange;
    height: 2px;
    border: 0px;
  }
  
  ul {
    list-style: none;
  }

  .first-li::before {
    content: "\29BF";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 0em;
    margin-left: -2em;
    padding-right: 20px;
  }
  .other-li::before {
    content: "\25CF";
    color: orange;
    font-weight: bolder;
    display: inline-block;
    width: 0em;
    margin-left: -2em;
    padding-right: 20px;
  }
 
 
  .inline{
    display:flex;
    flex-direction: row;
    text-align: justify; 
  }
  
  .li-container {
    display: flex;
    flex-direction: row;
    text-align: justify;
    }

  .date {
    width: 33%;
  }

  .organization{
    width: 66%;
  }

  .org-name {
    margin: 0px;
  } 

  .dept{
    margin: 0px; 
  }

  .description {
    text-align: justify;
    margin-right: 50px;
   }

   
  .reference1{
    display: flex;
    flex-direction: row;
  }

  .reference-item{
    width: 50%;
  }

 
/* <!--This is the MEDIA QUERY--> */ 

  @media screen and (max-width: 550px) {
    body {
      flex-direction: column;
    } 
    .aside{
      width: 100%;
    }
    .main{
      width: 100%;
    }
  
  }


